{% extends "base.html" %}

{%block content%}

<form method="POST">
    {{ form.csrf_token }}

    {{form.hidden_tag()}}
    {{form.email.label}} 
    {{form.email(class='form-control')}}
    {{form.user_name.label}} 
    {{form.user_name(class="form-control")}}
    {{form.password.label}}
    {{form.password(class="form-control")}}
    {{form.confirm_password.label}}
    {{form.confirm_password(class="form-control")}}
    {% if form.confirm_password.errors %}
        {{form.confirm_password.errors[0]}}
    {% endif %}
    
    {{form.submit()}}
</form>
{%endblock%}
